/* Définission des polices utilisées qui ne sont pas automatiquement disponible : */
@font-face {
        font-family: "Candara";
        src: url("polices/Candarab.ttf") format("truetype");
    }

@font-face {
    font-family: "Devroye";
    src: url("polices/DEVROYE.ttf") format("truetype");
}

@font-face {
    font-family: "Fatboy";
    src: url("polices/fbsbltc.ttf") format("truetype");
}

@font-face {
    font-family: "Corbel Light";
    src: url("polices/corbell.ttf") format("truetype");
}

@font-face {
    font-family: "Comic Sans";
    src: url("polices/comic.ttf") format("truetype"),
        url("polices/comicbd.ttf") format("truetype");
}
/*
############# Définition :
####### Bannière et menus : 
*/

header {
    background-color: rgb(218,184,219);
    width : 100%;
    margin : 0;
    padding : 10px;
    border-bottom: rgb(167,135,174) solid 5px;
}
ul {
    list-style-type: none;
}

h1 {
    font-family: "Corbel Light";
    color: rgb(166,120,120);
    font-size: 65px;
    margin-top: 0px;
    margin-left: 25%;
    margin-bottom: 0px;
    position : relative;
    bottom : 35px;
}

h1 span {
    font-family: "Fatboy";
    color: rgb(116,60,25);
    font-size: 85px;
    margin-top: 0px;
    position: relative;
    top:50px;
    right: 180px;
}



nav > ul > li > a {
    color: rgb(167,135,174);
} 



.logo {
    width : 130px;
    height : 130px;
    float:left;
    padding : 0px;
}

.navigation {
    font-family: "Candara";
    font-size: 25px;
    margin: 0px; 
    padding-left: 13%;
    padding-top: 5px;
    color: rgb(167,135,174);
    display: flex;
    width: 95%;
    height: 30px;
    border-top : rgb(167,135,174) solid 3px;

}

.navigation li {
    width: 18%;
    padding-left : 5px;
    position : relative ;
    display: inline-block;
    text-align: center;
}

.navigation li input {
    display: inline-block;
    height: 25px;
    width: 200px;
    right: 30px;
}


.sousmenu {
    display: none;
    background-color: rgb(218,184,219);
    padding-left: 10px;
    padding-bottom : 5px;
    width: 200px;
}

nav ul li:hover .sousmenu {
    display : block;
}



/*
######### Aspect général de la page, hors bannière et menu :
*/

body {
    background-image: url(images/fond.png);
    margin : 0;
    padding: 0;
    background-size: 100%;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


main {
    padding-left : 17%;
    padding-right: 17%;
}

h2 {
    font-family: "Devroye";
    text-align: center;
    font-size: 50px;
    background-image: url(images/fond_titre2.png);
    background-position: center;
    background-size: 925px;
    background-repeat: no-repeat;
}

figcaption {
    font-family: "Comic Sans"; 
    font-size: 90%;
}