/*
#### Presentation particulière de la page index :
*/


figure {
    margin-left : 10%;
    margin-top:  20px;
    float : left;
}

body img {
    width : 90%;
    height: 90%;
}

figcaption {
    text-align: center;
    position: relative;
    bottom: 250px;
    right:10px;
    display: none;
    
}

figure:hover figcaption {
    display: block;
}

figure:hover img {
    opacity: 50%;
}


.decoup {
    background-image: url(images/fond_paragraphe.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    margin-left: 40% ;
    margin-top: 5%;
    padding : 30px;
    padding-right: 40px;
    font-size: 17px;
}
