/* Définission des polices utilisées qui ne sont pas automatiquement disponible : */

@font-face {
    font-family: "Devroye";
    src: url("polices/DEVROYE.ttf") format("truetype");
}

/*
#### Presentation particulière de la page oeuvre :
*/

section {
    display: inline-block;
}

img {
    height: 250px;
    margin-left: 60px;
    margin-bottom: 40px;

}

h3 {
    font-family: "Devroye";
    font-size: 20px;
} 

article {
    display: none;
    width: 40%;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: 10px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 35px;
    margin-left: 25%;
}

#bulle1:target {
    display: block ;
}


#bulle2:target {
    display: block;
}


#bulle3:target {
    display: block;
}


#bulle4:target {
    display: block;
}
